@import './tokens.less';

// Typography
h1, h2 {
  font-family: @typeface-brand;
  color: @dark-grey;
  text-transform: lowercase;
}
  
p {
  font-family: @typeface-base;
  line-height: 1.2;
  font-weight: 300;
}
