@import './tokens.less';

// Typography
h1, .h1, h2, .h2 {
  font-family: @typeface-brand;
  font-weight: 300;
  line-height: 1;

  color: @dark-grey;
  text-transform: lowercase;
  margin-top: 0;
}

h1, .h1 {
  font-size: 72px;
}
 
h2, .h2 {
  font-size: 56px;
}

h3, .h3 {
  font-family: @typeface-base;
  font-family: 22px;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-weight: 400;
  color: @grey;
}

p, figcaption {
  display: block;
  font-family: @typeface-base;
}

a {
  font-family: @typeface-base;
  display: inline;
  transition: color 0.2s ease;
  color: @orange;
  &:hover {
    color: darken(@orange, 10);
  }
}

figcaption {
  font-size: 14px;
}

strong {
  font-family: @typeface-base;
}
