@import '_typography.less';

body {
    margin: 0;
    font-size: 16px;
    color: @dark-grey;
    line-height: 1.2;
    font-weight: 300;
}

section {
    margin-top: @base-unit * 16;
    padding: (@base-unit * 8) (@base-unit * 16);

    &:first-of-type {
        margin-top: 0;
    }
}
.caption {
    text-transform: uppercase;
    letter-spacing: .05rem;
    font-size: 14px;
    font-weight: 400;
}
