@import '_typography.less';

body {
    margin: 0;
}

section {
    margin-top: 80px;
}
.caption {
    text-transform: uppercase;
    letter-spacing: .05rem;
    font-size: 14px;
    font-weight: 400;
}
