@import '_typography.less';

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    font-size: 16px;
    color: @dark-grey;
    line-height: 1.5;
    font-weight: 300;
}

section {
    margin-top: @base-unit * 16;
    padding: (@base-unit * 15) 10%;

    &:first-of-type {
        margin-top: 0;
    }
}

img {
    max-width: 100%;
}
.caption {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    font-weight: 400;
}
