@import '../styles/tokens.less';

.intro {
    padding-top: @base-unit * 30;
    background: url('../images/intro_bg.svg');
    background-size: cover;

    * {
        color: white;
    }
}

.travel {
    position: relative;

    .travelAccent {
        position: absolute;
        max-width: 350px;
        width: 30vw;
        right: 0;
        z-index: -1;
    }
}

.portfolio {
    position: relative;

    .portfolioAccent1 {
        position: absolute;
        max-width: 350px;
        width: 15vw;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
}