@import '../styles/tokens.less';

.intro {
    padding-top: @base-unit * 30;
    background: url('../images/intro_bg.png');
    background-size: cover;
    height: 85vh;

    * {
        color: white;
    }
}