@import '../styles/tokens.less';

.banner {
    background-color: @green;
    text-align: center;

    * {
        color: white;
    }
}

.nav {
    display: flex;
    justify-content: space-evenly;
    max-width: 800px;
    margin: auto;
    list-style-type: none;
    padding: 0;

    a {
        text-decoration: none;
    }
}