@import '../styles/tokens.less';

.main {
  margin: 0 @base-unit * 16;
}

header {
  padding: @base-unit * 8 @base-unit * 16;
}

footer {
  background-color: @dark-grey;
  padding: @base-unit * 8 @base-unit * 16;
  margin-top: @base-unit * 16;;

  * {
    color: white;
  }
}