@import '../styles/tokens.less';

header {
  padding: (@base-unit * 8) 5%;

  nav {
    display: flex;
  }

  a {
    margin-left: @base-unit * 5;    
    text-transform: uppercase;
    letter-spacing: .05rem;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: @dark-grey;

    &:hover {
      color: darken(@dark-grey, 10);
    }

    &:first-of-type {
      margin-left: 0;
    }
  }
}

footer {
  background-color: @dark-grey;
  padding: (@base-unit * 8) 5%;
  margin-top: @base-unit * 16;;

  * {
    color: white;
  }
  a {
    color: white;
  }
}